/* Copa American style */

body{
    font-family: 'Kanit', sans-serif;
    margin: 0%;
}

/* --Header Style-- */

.main-header{
    background-color: rgb(64, 64, 241);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px;
    margin-bottom: 40px;
    box-sizing: border-box;
    
    
}
.header-div-1 h1{
    font-size: 80px;
    margin: 121px, 0px, 27px, 156px;
}
.header-div-1{
    width: 50%;
   
   
    
}


.header-font-1{
    color: white;
}
.header-font-2{
    color: tomato;
}
.live-button{
    background-color: rgb(131, 38, 88);
    text-decoration: none;
    color: white;
    padding: 6px;
    border-radius: 10px;
    font-weight: 600; 
    
} 
.live-button:hover{
    background-color: coral;
    color: darkmagenta;
}

.header-div-2 img{
    width: 500px;
    border-radius: 10px;
    margin-top: 200px;
}

/* Main Section, Player list Style */
.player-1, img{
    width: 300px;
    height: 256px;
    margin: 15px 15px 0 15px;
}
.shadow-box {
    width: 330px;
    height: 474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.Container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    margin: 150px;
    margin-top: 70px;
}
.player-detail, p{
    
    color: #6C6C6C;
    padding: 0 15px 15px 15px;
    font-weight: normal;
    font-size: 16px;
}
.player-detail, h2{
   
    
    margin-left: 15px;
    font-size: 28px;
    font-weight: bold;
}

/* Footer section start */

/* footer styles */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #c7c7c7;
    padding: 30px 0;
  }
  footer img {
    width: 480px;
  }
  .footer__icons i {
    color: #969bab;
    margin: 0 14px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
  }
  .footer__icons i:hover{
      color:#e02c6d;;
  }
  footer p {
    font-size: 18px;
    color: #000;
    margin: 20px 0;
  }

/* Footer-section end */

/* Media-quearies */
/* For mobile device */

@media only screen and (max-width:480px) {
    /* Header section */
    .main-header{
        background-color: darkmagenta;
        grid-template-columns: repeat(1, 1fr);
        padding: 0 20px;
        
        
    }
    
     .header-div-1 .header-font-1{
        font-size: 30px;
    
    }
    .header-div-1 .live-button:hover{
        background-color: darkorange;
    }
    .header-div-2 img{
        width: 300px;
        border-radius: 5px;
        margin-left: 0%;
    }

    /* Main Section */

    .Container, .last-part, footer{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;
    }
    footer img{
        width: 200px;
        height: 80px;
    }
}